


<div class="contentWrapper" >
    <div class="row ui-helper-clearfix">
        <div style="   " class=" col-introPanel " >
            <div data-bind="compose:'viewmodels/intro_views/index_intro'"></div> 
        </div>
        <div style="   " class="col-joinEditor " >
            <div data-bind="compose:'viewmodels/intro_views/join_editor'"></div>  
        </div>
    </div>
    <div class="row ui-helper-clearfix" style="margin-top: 10px">
        <div style=" background-color: #996947;   " class="column half " >
            column1 column1 column1 
        </div>
        <div style=" background-color:#d9dee5;   " class="column half " >
            column2 column2 column 
        </div>
    </div>

</div>