<div>


    <table style="padding: 10px ">
        <tr style="vertical-align: top">




            <td class="ui-corner-all" style="  vertical-align: top;  padding: 0px;   " bgcolor="white" height="450" width="200" >
                <div  data-bind="compose:'viewmodels/user_views/user_panel/user_panel'"></div>
            </td>





            <td class="ui-corner-all" style="  vertical-align: top;  padding: 0px;   " bgcolor="" height="450" width="804" >
                <div data-bind="">

                    <table style="padding: 0px ">
                        <tr style="vertical-align: top">

                            <td class="ui-corner-all" style="  vertical-align: top; border-bottom-color:  #999999; border-bottom-width: 3px; border-bottom-style: solid; padding-left: 0px; padding-right:  0px;   " bgcolor="#999999" height="30" width="794" >
                                <div data-bind="compose:'viewmodels/user_views/search_panel/search_panel'"></div>
                            </td>

                        </tr>

                        <tr style="vertical-align: top">

                            <td class="ui-corner-all" style="  vertical-align: top; padding: 0px;    " bgcolor="" height="450" width="804" >
                                <div data-bind="">
                                    <table style="padding: 0px ">


                                        <tr style="vertical-align: top">

                                            <td class="ui-corner-all" style="  vertical-align: top;  padding: 5px;   " bgcolor="white" height="450" width="550" >
                                                <div  data-bind="compose:'viewmodels/user_views/editor_panel/editor_panel'"></div>

                                            </td>
                                            <td  class="ui-corner-all" style="  vertical-align: top; padding-left: 0px; padding-right: 0px;  " bgcolor="white" height="450" width="240" >

                                            </td>



                                            



                                        </tr>
                                    </table>
                                </div>

                            </td>




                        </tr>
                    </table>
                </div>

            </td>




        </tr>
    </table>


</div> 


