
<div class="contentWrapper" >

    <div class="row ui-helper-clearfix">
        <div  class=" column full " >
            <div class="boxShadow  ui-widget ui-widget-content  ui-corner-all "  >
                <div class="container pad" >
                    <h2 id="joinEditorCompleteGreeting">
                        You have successfully completed your Registration. 
                        We have sent you email to your provided Email Address.
                        Check your Email box and follow the link to confirm the Address._
                    </h2>
                </div>
            </div>
        </div>
    </div>



    <div class="row ui-helper-clearfix" style="margin-top: 10px">
        <div style=" background-color: #996947;   " class="column half " >
            column1 column1 column1 
        </div>
        <div style=" background-color:#d9dee5;   " class="column half " >
            column2 column2 column 
        </div>
    </div>

</div>



