
<div class="boxShadow  ui-widget ui-widget-content  ui-corner-all " style="" >
    <div  class="container">
        <div class="row ui-helper-clearfix">
            <div  class="col-userPanel-inner-1" style="  ">
                <div class="row ui-helper-clearfix">

                    <div  class="column panel-pad" style="  width:  50%">
                        <div  class=" ui-widget  ui-corner-all" style="  height: 75px" >
                            <div id="usersphotoDIVPanel" style=" height: 75px; overflow: hidden;">
                                <!--<img height="75px" />-->
                                <img id="userphotoPanel" data-bind="attr: {src: userphotoPanelImg}" src=""  alt="userphoto" height="75"  />
                            </div>
                        </div>
                    </div>
                    <div  class="column panel-pad" style="  width:  50%">
                        <div  class=" ui-widget  ui-corner-all" style="  width:  75px" >
                            verified
                        </div>
                    </div>
                </div>
            </div>

            <div  class=" col-userPanel-inner-1" style="  ">
                <div class="row ui-helper-clearfix">

                    <div  class="column panel-pad" style="  width:  50%">
                        <div  class=" ui-widget  ui-corner-all" style="  height: 75px" >
                            <div id="usersphotoDIVPanel" style=" height: 75px; overflow: hidden;">
                                <!--<img height="75px" />-->
                                <img id="userphotoPanel" data-bind="attr: {src: userphotoPanelImg}" src=""  alt="userphoto" height="75"  />
                            </div>
                        </div>
                    </div>
                    <div  class="column panel-pad" style="  width:  50%">
                        <div  class=" ui-widget  ui-corner-all" style="  width:  75px" >
                            verified
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>