<div >
    <table>
        <tr>


            <td class="ui-corner-all" style="background: #A8A8A8; vertical-align: top; border: #999999; border-width: 1px; border-style:  solid" bgcolor="white" height="400" width="220">
                <table style="border-style: none; padding: 0px ">
                   
                   
     
                    <tbody>
                        <tr>
                            <td>
                                <div id="j_idt37" class="ui-panel ui-widget ui-widget-content ui-corner-all" style=" border: #999999; border-width: 1px; border-style:  solid; width: 60px; height: 75px" data-widget="widget_j_idt37">
                                    <div id="j_idt37_content" class="ui-panel-content ui-widget-content">
                                        <div id="usersphotoDIVPanel" style=" height: 75px; overflow: hidden;">
                                            <!--<img height="75px" />-->
                                            <img id="userphotoPanel" data-bind="attr: {src: userphotoPanelImg}" src=""  alt="userphoto" height="75"  />
                                        </div></div></div><script id="j_idt37_s" type="text/javascript">PrimeFaces.cw('Panel', 'widget_j_idt37', {id: 'j_idt37'});</script></td>
                            <td><div id="j_idt39" class="ui-panel ui-widget ui-widget-content ui-corner-all" style="vertical-align: top; width: 110px; height: 75px" data-widget="widget_j_idt39"><div id="j_idt39_content" class="ui-panel-content ui-widget-content">
                                        data 
                                    </div></div><script id="j_idt39_s" type="text/javascript">PrimeFaces.cw('Panel', 'widget_j_idt39', {id: 'j_idt39'});</script></td>
                        </tr>
                    </tbody>
                </table>
                <table style="border-style: none; padding: 2px ">
                    <tbody>
                        <tr>
                            <td>
                                <div  class="ui-panel ui-widget ui-widget-content ui-corner-all" style="background-color: #f5faff; vertical-align: top; width: 190px; height: 250px;padding: 0px; border: none" >
                                   
                                    
                                    
                                    <div  class="ui-panel-content ui-widget-content" style="background-color: #f5faff; width: 190px; padding: 0px; border: none">
                                       
                                        <table>
                                            <tr>
                                                <td>
                                                  <div class="container" >

                                            <!-- Begin demo markup  noDoubleClick ui-helper-hidden-accessible" -->
                                            <ul id="flyoutmenu2" class=" ui-helper-hidden-accessible" > 

              
                                                <li><a href="#">Start</a>
                                                    <ul>
                                                        <li><a href="#" >My Account</a>
                                                        <ul>
                                                            <li><a href="#" data-bind="click: onMyPhoto" >Photo</a></li>
                                                                <li><a href="#">Basketball</a></li>
                                                                <li><a href="#">A really long label would wrap nicely as you can see</a></li>
                                                                <li><a href="#">Swimming</a></li>
                                                        </ul>
                                                        <li><a href="#" data-bind="click: onCustomers" >Customers</a></li>
                                                        <li><a href="#">Vendors</a></li>
                                                        <li><a href="#">Products</a>
                                                            <ul>
                                                                <li><a href="#">Baseball</a></li>
                                                                <li><a href="#">Basketball</a></li>
                                                                <li><a href="#">A really long label would wrap nicely as you can see</a></li>
                                                                <li><a href="#">Swimming</a>
                                                                    <ul>
                                                                        <li><a href="#">High School</a></li>
                                                                        <li><a href="#">College</a></li>
                                                                        <li><a href="#">Professional</a>
                                                                            <ul>
                                                                                <li><a href="#">Mens Swimming</a>
                                                                                    <ul>
                                                                                        <li><a href="#">News</a></li>
                                                                                        <li><a href="#">Events</a></li>
                                                                                        <li><a href="#">Awards</a></li>
                                                                                        <li><a href="#">Schedule</a></li>
                                                                                        <li><a href="#">Team Members</a></li>
                                                                                        <li><a href="#">Fan Site</a></li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li><a href="#">Womens Swimming</a>
                                                                                    <ul>
                                                                                        <li><a href="#">News</a></li>
                                                                                        <li><a href="#">Events</a></li>
                                                                                        <li><a href="#">Awards</a></li>
                                                                                        <li><a href="#">Schedule</a></li>
                                                                                        <li><a href="#">Team Members</a></li>
                                                                                        <li><a href="#">Fan Site</a></li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li><a href="#">Adult Recreational</a></li>
                                                                        <li><a href="#">Youth Recreational</a></li>
                                                                        <li><a href="#">Senior Recreational</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><a href="#">Tennis</a></li>
                                                                <li><a href="#">Ice Skating</a></li>
                                                                <li><a href="#">Javascript Programming</a></li>
                                                                <li><a href="#">Running</a></li>
                                                                <li><a href="#">Walking</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                            </ul>


                                        </div>  
                                                </td>
                                                <td style="background-color: #f5faff; padding-left: 10px;font-size: medium;font-weight: bold;width: 95px;">
                                                  <span class=""> Verified</span>  
                                                </td>
                                            </tr>
                                        </table>
  
                                        


                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </td>

        </tr>
    </table>

</div>
