<div class="menuContainer_1" style="width: 100%/*width: 1024px*/" data-bind="visible: showMenu">
    <div class="row ui-helper-clearfix">
        <div  class="column half noPadding" >
            <div class="menuWrapper_1" style="width: 100%; ">
                <ul id="flyoutmenu_1" class=" ui-helper-hidden-accessible"> 

                    <li ><a  id="home" href="#/home">Home_</a>
                        <ul>
                            <li><a href="#/join_editor_2">join_editor_2</a></li>
                            <li><a href="#/join_editor_3">join_editor_3</a></li>
                            <li><a href="#/intro">intro</a></li>
                        </ul>
                    </li>

                    <li><a id="joinTodayMenu" href="#">Join Today_</a>
                    </li>

                </ul> 
            </div>
        </div>

        <div  class="column half noPadding" >
            <div  class="menuWrapper_1" style=" background-color: #000; width: 100%;   height: 33px  ; /*1.97em */ white-space: nowrap ; " align="right" >
                <!-- <form id="loginForm" name="loginForm" method="post" action="/" enctype="application/x-www-form-urlencoded"  onsubmit="document.loginForm.action = 'j_spring_check';">-->
                <form id="loginForm" name="loginForm" method="post" action="/" enctype="application/x-www-form-urlencoded" >
                    <div class="row ui-helper-clearfix">
                        <div  class="column menu-1 noPadding" >
                            <div class=" ui-menuBusy ui-corner-all" style=" " >
                                <div  class="">
                                    <div id="menuBusy" class=" ui-menuBusy inner" style=""></div>
                                </div>
                            </div>
                        </div>
                        <div  class="column menu-2 noPadding" >
                            <div class="ui-input-group-menu ">
                                <input id="emailLogin"  class="ui-form-control-menu ui-corner-all inputWithPlaceholder bgColour noCache" name="email" type="text" placeholder="Email Address_" onclick="hide();" data-bind="value: usersEmailAddressMenu" />
                            </div>
                        </div>
                        <div  class="column menu-2 noPadding" >
                            <div class="ui-input-group-menu ">
                                <input id="passwordLogin"  class="ui-form-control-menu ui-corner-all inputWithPlaceholder bgColour noCache" name="passwordLogin" type="password" placeholder="Password_" onclick="hide();" data-bind="value: usersPasswordMenu" />
                            </div>
                        </div>
                        <div  class="column menu-3 noPadding" >
                            <button id="menuLoginButton" name="menuLoginButton" type="submit"  data-bind="click: onSubmitMenu"  class=" wijmo-wijmenu-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="" onmouseover="$(this).addClass('wijmo-wijmenu-button-state-hover');" onmouseout="$(this).removeClass(' wijmo-wijmenu-button-state-hover');"  >
                                <span id="signInMenu" class="ui-button-text ui-c">Sign In_</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div>
<!-- ====== -->
<div class="menuContainer_2" style="width: 100%/*width: 1024px*/" data-bind="visible: showMenuNot">


    <div class="menuWrapper_2" style=" ">

        <ul id="flyoutmenu_2" class=" ui-helper-hidden-accessible"> 

            <li ><a id="home2"  href="#/home">Home_</a>
            </li>
            <li><a id="showMenu" href="#">ShowMenu_</a>
                <ul>
                    <li><a href="#/menu">Menu</a></li>
                    <li><a href="#/flickr">My flickr</a></li>
                    <li><a href="#/texteditor">texteditor</a></li>
                    <li><a href="#">A&amp;E</a>
                        <ul>
                            <li><a href="#">Baseball</a></li>
                            <li><a href="#">Basketball</a></li>
                            <li><a href="#">A really long label would wrap nicely as you can see</a></li>
                            <li><a href="#">Swimming</a>
                                <ul>
                                    <li><a href="#">High School</a></li>
                                    <li><a href="#">College</a></li>
                                    <li><a href="#">Professional</a>
                                        <ul>
                                            <li><a href="#">Mens Swimming</a>
                                                <ul>
                                                    <li><a href="#">News</a></li>
                                                    <li><a href="#">Events</a></li>
                                                    <li><a href="#">Awards</a></li>
                                                    <li><a href="#">Schedule</a></li>
                                                    <li><a href="#">Team Members</a></li>
                                                    <li><a href="#">Fan Site</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Womens Swimming</a>
                                                <ul>
                                                    <li><a href="#">News</a></li>
                                                    <li><a href="#">Events</a></li>
                                                    <li><a href="#">Awards</a></li>
                                                    <li><a href="#">Schedule</a></li>
                                                    <li><a href="#">Team Members</a></li>
                                                    <li><a href="#">Fan Site</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Adult Recreational</a></li>
                                    <li><a href="#">Youth Recreational</a></li>
                                    <li><a href="#">Senior Recreational</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Tennis</a></li>
                            <li><a href="#">Ice Skating</a></li>
                            <li><a href="#">Javascript Programming</a></li>
                            <li><a href="#">Running</a></li>
                            <li><a href="#">Walking</a></li>
                        </ul>
                    </li>
                </ul>
            </li>






        </ul> 
    </div>

</div> 


